---
import '@/styles/global.css'

import Footer from '@/components/footer.astro'
import Header, { type HeaderProps } from '@/components/header.astro'

export interface BaseLayoutProps extends HeaderProps {
  title: string
  description: string
  image?: string
}

type Props = BaseLayoutProps

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { isDocs = false, title, description, image = '/og.png' } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Global Metadata -->
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link rel='manifest' href='/manifest.json' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <link rel='apple-touch-icon' sizes='48x48' href='/icon-48x48.png' />
    <link rel='apple-touch-icon' sizes='72x72' href='/icon-72x72.png' />
    <link rel='apple-touch-icon' sizes='96x96' href='/icon-96x96.png' />
    <link rel='apple-touch-icon' sizes='144x144' href='/icon-144x144.png' />
    <link rel='apple-touch-icon' sizes='192x192' href='/icon-192x192.png' />
    <link rel='apple-touch-icon' sizes='256x256' href='/icon-256x256.png' />
    <link rel='apple-touch-icon' sizes='384x384' href='/icon-384x384.png' />
    <link rel='apple-touch-icon' sizes='512x512' href='/icon-512x512.png' />

    <!-- Canonical URL -->
    <link rel='canonical' href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={new URL(image, Astro.url)} />
  </head>
  <body>
    <Header isDocs={isDocs} />
    <slot />
    <Footer />
  </body>
</html>
